---

users: 
  - copelco

# geerlingguy.github-users
github_users: "{{ users }}"

# geerlingguy.security
security_sudoers_passwordless: "{{ users }}"
security_autoupdate_enabled: false

# geerlingguy.docker
docker_package_state: present
docker_users: "{{ users }}"
